
.SocialMediaContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.socialMediaCard{
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    font-weight:700;
    border-radius: $card-border-radius;
    margin: 10px;
}

.socialMediaCard > div {
    padding: 4px 0;
    display: flex;
    align-items: center;
}
.socialMediaCard img{
    margin-right: 5px;
}

.amountBox{
    flex-direction: column;
    .typeStat{
        letter-spacing: 0.2em;
        font-weight: 400;
    }
    .numberStat{
        font-size: 50px;
    }
}
.referenceStat{
    height: 20px;
}
.referenceStat img{
    height: 50%;
}

.twitterBorder{
    border-top: $Facebook solid 4px;
}
.facebookBorder{
    border-top: $Twitter solid 4px;
}
.instagramBorder{
    border-image: $Instagram 1;
    border-top: 4px solid;
    border-radius:$card-border-radius;
}
.youtubeBorder{
    border-top: $Youtube solid 4px;
}

@media only screen and (min-width:$width-min){
    .socialMediaCard{
        width: 48%;
        margin: 1%;
    } 
}
@media only screen and (min-width:$width-table){
    .socialMediaCard{
        width: 22.5%;
        margin: 1%;
    } 
}