

.StatMediaContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.statMediaCard{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px 30px;
    border-radius: $card-border-radius;
    margin: 10px;
}

.statMediaCard > div {
    padding: 4px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    font-weight: 700;
}
.countStats{
    flex-wrap: wrap;
}
.totalAmountStat{
    font-size: 35px;
}
.percentageStatReference{
    height: 20px;
    align-self: flex-end;
    display: flex;
    align-items: center;
}
.percentageStatReference > img{
    height: 25%;
    margin-right: 5px;
}

@media only screen and (min-width:$width-min){
    .statMediaCard{
        width: 48%;
        margin: 1%;
    } 
}
@media only screen and (min-width:$width-table){
    .statMediaCard{
        min-height: 120px;
        width: 22.5%;
        margin:  1%;
        padding: 10px;
    }
}