@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import 'styles/variables.scss';
@import 'styles/SocialMediaContainer.scss';
@import 'styles/StatCardsContainer.scss';
@import 'styles/DarkModeSwitch.scss';
@import 'styles/HeaderMediaDashboard.scss';
@import 'styles/colorTheme/colorModes.scss';
@import 'styles/colorTheme/outcome.scss';

html, body, #root {
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.App {
    height: auto;
    padding: 50px 10px;
    transition: ease-in-out 0.7s;
}

.card{
    overflow: hidden;
}
.overviewDivision{
    padding: 10px 0;
    margin:0 2%;
    font-weight: 700;
    font-size: 25px;
}

.attribution { 
    margin-top: 15px;
    width: 100%;
    font-size: 11px; 
    text-align: center; 
    a{ 
        color: hsl(228, 45%, 44%);
    }
}


@media only screen and (min-width:$width-table){
    .App {
        padding: 10px 5%; 
        height: 100vh;
    } 
}